@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Don't contact me please
</address>

<address>
    <strong>No Support Here:</strong> <a href="mailto:Support@example.com">NoSupport@useless.com</a><br />
</address>
