@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form>
    <h3>Users in Project</h3>
    <ol>
        @foreach (var user in ViewBag.UsersInProject)
        {
            <li>@user.Name</li>
        }

    </ol>

</form>